[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = brijpatel2106012@gmail.com
	name = Brij Patel

	[user]
	name = Brij
	email = brijpatel2106012@gmail.com
[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[alias]
	lg = log --pretty=format:'%C(yellow)%h%C(auto)%d %C(cyan)%an %C(green)%ar%C(reset) %s' --graph

